* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

header {
	border: 2px solid #000;
	height: 50px;
	width: 100%;
	margin-bottom: 25px;
	font-family: monospace;
}

.content {
	border: 5px solid #000;
}

.day {
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

article {
	display: inline-block;
	border: 1px solid #000;
	padding: 5px;

	padding: 5px 10px 5px;
	min-height: 120px;
	max-width: 185px;
	min-width: 135px;
	
	margin: 5px 0 5px;

	font-family: 'Cascadia Code';
}

p {
	padding-top: 0.5%;
	padding-left: 0.6%;
}

.side-l {
	margin-left: 75px;
}

.side-r {
	margin-right: 75px;
}

.day-name {
	writing-mode: tb-rl;
  transform:rotate(180deg);
  font-size:33px;
  text-align: center;
}